1.1/nimcache
1.1/hex_to_base64
1.2/nimcache
1.2/buffer_xor
1.3/nimcache
1.3/single_byte_xor
1.4/nimcache
1.4/detect_single_byte_xor
1.5/nimcache
1.5/repeating_key_xor
1.6/nimcache
1.6/crack_repeating_key_xor
1.7/nimcache
1.7/aes_ecb
1.8/nimcache
1.8/detect_aes_ecb

2.1/nimcache
2.1/pad_pkcs7
2.2/nimcache
2.2/aes_cbc
2.4/nimcache
2.4/crack_ecb_simple
2.5/nimcache
2.5/ecb_cut_and_paste
2.6/nimcache
2.6/crack_ecb_hard
2.8/nimcache
2.8/cbc_bitflip

3.1/nimcache
3.1/cbc_padding_oracle
3.2/nimcache
3.2/aes_ctr
